	<% include ../header %>
		<section class="container">
		<h2>Olá, sou <strong>Caio Incau</strong>.</h2>
			<section id="about">
			<span></span>
				<p class="quote">You miss 100% of memories you never made</p>
				<p>Este é meu <strong>site pessoal</strong>, onde você poderá encontrar um pouco sobre mim, trabalho com <strong>desenvolvimento de software(foco em back-end)</strong>, sou apaixonado por quadrinhos, viciado em <strong>leitura</strong> e aspirante a fotógrafo amador.</p>
				<p>No momento trabalho no <a href="http://www.alura.com.br">Alura</a>, um projeto incrível que nasceu dentro da <a href="http://www.caelum.com.br">Caelum</a>, o projeto é uma <strong>plataforma de ensino online </strong>que utiliza a mesma didática da Caelum para ensinar pessoas de todo o mundo a programar.  </p>
				<p>Comecei minha carreira ainda dentro da Caelum, participando desde a criação da <a href="http://www.casadocodigo.com.br">Casa do Código</a>, uma das pioneiras do Brasil a vender <strong>eBooks sem DRM</strong>.
				<p>
				<p>Como hobby faço um pouco de tudo, leio(principalmente <strong>HQs</strong> e livros técnicos), <strong>estudo</strong>(pelo Alura, veja só), viajo(pouco ultimamente), banco o Gourmet, adoro comprar roupas e ultimamente tenho me arriscado com <strong>fotografia</strong> e edição.</p>
				<p>Já fui fanboy da Apple, antes da morte do <strong>Steve Jobs</strong>, hoje tenho a mente aberta(apesar de não abandonar o iPad), tenho até Windows como SO secundário, veja só ;)</p>
				<p>Adoro discutir e conversar sobre qualquer um dos temas citados acima, então se quiser falar sobre eles, <strong>não hesite em me contatar</strong>.</p>
				<p>PS: <strong>Não gosto de fazer freelancer</strong>, nada pessoal, mas como tenho tantos hobbys, tempo é raridade</p>
			</section>
		</section>
		<section class="container" id="portofolio">
		<h2>Trabalhos</h2>
			<section class="cards-container">
				<div class="work"><a href="http://www.alura.com.br"><img src="/images/jobs-1.jpg" alt="Home do Alura" /><p>Alura</p></a></div>
				<div class="work"><a href="http://www.casadocodigo.com.br"><img src="/images/jobs-2.jpg" alt="Home da Casa do Código" /><p>Casa do Código</p></a></div>
				<div class="work"><a href="https://chrome.google.com/webstore/detail/otomegatari/fhjblpnmnalnopijjnpdcjdheoibieji"><img src="/images/jobs-3.jpg" alt="Plugin de Feed Wordpress" /><p>Plugin de Feed WP</p></a></div>
			</section>

			
		</section>
		<section class="container" id="know">
		<h2>Conhecimentos</h2>
			<section class="cards-container">
				<section class="card-know">
				<p>Dia-a-dia</p>
				<ul>
					<li>VRaptor</li>
					<li>Java</li>
					<li>MySQL</li>
					<li>JUnit</li>
					<li>HTML5</li>
					<li>CSS3</li>
					<li>JQuery</li>
					<li>Hibernate</li>
					<li>Amazon EC2</li>
					<li>Hudson</li>
					<li>Git</li>
				</ul></section>
				<section class="card-know">
				<p>Tive contato</p>
				<ul>
					<li>Ruby</li>
					<li>Rails 3</li>
					<li>JSF2</li>
					<li>PostgreSQL</li>
					<li>Heroku</li>
					<li>Shopify</li>
					<li>Maven</li>
					<li>Struts 2</li>
					<li>Ant</li>
					<li>Gradle</li>
					
				</ul></section>
				<section class="card-know education">
				<p>Educação</p>
				<ul>
					<li>Sistemas de Informação - FACCAMP(2011-2013)</li>
					<li class="list-subtitle">Caelum:</li>
					<li>Java e Orientação a Objetos (FJ-11)</li>
					<li>Java para Desenvolvimento Web (FJ-21)</li>
					<li>TDD e Design Patters (FJ-16)</li>
					<li>Persistência com JPA e Hibernate (FJ-25)</li>
					<li>Desenvolvimento Web com HTML, CSS e JavaScript (WD-43)</li>
					<li>Desenvolvimento Android (FJ-57)</li>
					<li class="list-subtitle">Alura :</li>
					<li>JSF 2: simplicidade e produtividade na Web</li>
					<li>Devops: provisionamento com Vagrant e Puppet</li>
					<li>Maven: gerenciando dependências</li>
					
				</ul></section>
			</section>

			
		</section>
		<section class="container">
			<h2 id="social">Social</h2>
			<ul class="social">
				<li><a href="https://twitter.com/iCaioIncau" class="fa fa-twitter"></a></li>
				<li><a href="https://www.facebook.com/CaioIncau" class="fa fa-facebook"></a></li>
				<li><a href="https://www.linkedin.com/profile/view?id=180124686" class="fa fa-linkedin"></a></li>
				<li><a href="https://www.tumblr.com/blog/infinitythanos" class="fa fa-tumblr"></a></li>
				<li><a href="https://plus.google.com/u/0/+CaioIncau" class="fa fa-google-plus"></a></li>
				<li><a href="https://github.com/caioincau" class="fa fa-github"><span class="label"></a></li>
				<li><a href="http://instagram.com/caioincau" class="fa fa-instagram"></a></li>
			</ul>
			
		</section>
	<% include ../footer %>